body {
 	padding: 0;
	margin: 0;
	font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;
	font-size: 16px; 
}

h1 {
	font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;
	font-size: 64px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 70px;
}
h2 {
	font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;
	font-size: 32px;
	font-style: normal;
	font-variant: normal;
	font-weight: 300;
	line-height: 36px;
}
h3 {
	font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
}
h4 {
	font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;
	font-size: 22px;
	font-style: normal;
	font-variant: normal;
	font-weight: 300;
	line-height: 28px;
	margin: 0px;
}
@media (max-width: 768px) {
	body {
		font-size: 16px;
	}
	h1 {
		font-size: 50px;
		line-height: 50px;
	}
	h2 {
		font-size: 24px;
		line-height: 26px;
	}
	h3 {
		font-size: 24px;
		line-height: 28px;
	}
	h4 {
		font-size: 18px;
		line-height: 22px;
	}
}
@media (min-width: 768px) and (max-width: 992px) {
	body {
		font-size: 16px;
	}
	h1 {
		font-size: 50px;
		line-height: 50px;
	}
	h2 {
		font-size: 24px;
		line-height: 26px;
	}
	h3 {
		font-size: 24px;
		line-height: 28px;
	}
	h4 {
		font-size: 18px;
		line-height: 22px;
	}
}
@media (min-width: 992px) and (max-width: 1200px) {
	body {
		font-size: 16px;
	}
	h1 {
		font-size: 50px;
		line-height: 50px;
	}
	h2 {
		font-size: 24px;
		line-height: 26px;
	}
	h3 {
		font-size: 24px;
		line-height: 28px;
	}
	h4 {
		font-size: 18px;
		line-height: 22px;
	}
}
@media (min-width: 1200px) {
	body {
		font-size: 16px;
	}
	h1 {
		font-size: 64px;
		line-height: 70px;
	}
	h2 {
		font-size: 32px;
		line-height: 36px;
	}
	h3 {
		font-size: 24px;
		line-height: 30px;
	}
	h4 {
		font-size: 22px;
		line-height: 28px;
	}
	.az-nav-logo {
		font-size: 1.5em;
	}
	.az-nav-right {
		font-size: 16px;
	}
}

strong {
	font-weight: 600;
	font-size: 1.0em;
}
a {
	text-decoration: none;
}
em {
	color: #00abec
}
.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}
.width-constraint {
	min-width: 800px;
}
.right {
	text-align: right;
}
.center {
	text-align: center;
}
.left {
	text-align: left;
}
.f-right {
	float: right;
}
/* =====================================
   Nav
   ===================================== */
.az-nav {
	position: fixed;
	height: 60px;
	background-color: black;
	color: white;
	width: 100%;
	z-index: 100;
	line-height: 60px;
	min-width: 800px;
}
.az-nav-logo {
	color: #00abec;
	float: left;
}
.az-nav-right {
	float: right;
	font-size: 14px;
}
.az-nav-link {
	display: inline-block;
	margin-left: 30px;
	cursor: pointer;
}

/* =====================================
   Banner
   ===================================== */
.az-banner {
	position: relative;
	/*height: 85vh;
	min-height: 600px;*/
	overflow:hidden;
}
.az-banner img {
	width: 100%;
}
.az-banner-text {
	color: white;
	position: absolute;
	transform: translateY(-50%) translateX(-50%);
	top: 50%;
	left: 50%;
	text-align: center;
	width: 80%;
	max-width: 800px;
	min-width: 400px;
}
.az-banner-start {
	background-color: #89c402;
	box-shadow: 3px 3px 5px rgba(0,0,0,0.4);
	width: 15vw;
	min-width:240px;
	padding: 10px;
	color: white;
	margin-top: 24px;
	text-align: center;
}
.az-banner-nav {
	position: absolute;
	color: white;
	text-align: center;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
}
.az-banner-scroll-down {
	margin-bottom: 12px;
}

/* =====================================
   Announcement
   ===================================== */
.az-announcement {
	background-color:dodgerblue; 
	height: 60px;
	line-height: 60px;
	color: white;
	text-align: center;
	min-height: 60px;
	display: table;
	width: 100%;
}
.az-announcement > div {
	display: table-cell;
	vertical-align: middle;
}

/* =====================================
   Why Azure
   ===================================== */
.az-selling-point {
	padding: 36px;
	font-size: 1.0em;
	position: relative;
	text-align: center;
}
.az-selling-point > div {
	display: inline-block;
}
.az-selling-point-graph,
.az-selling-point-graph > img {
	width: 100%;
	background-color: #eee;
}
.az-selling-point h3 {
	padding-left: 24px;
	padding-right: 24px;
}
.az-selling-point-description {
	text-align: left;
	margin: 0px auto;
	padding-left: 24px;
	padding-right: 24px;
}
.az-case-study-wrapper {
	background-color: white;
}
.az-case-study-seperator hr {
	background-color: #aaa;
	height: 1px;
	border: 0px;
}

/* Small devices (tablets, 768px and up) */
@media (max-width: 992px) {
	.az-selling-point img {
		width: 30vw;
		min-width: 150px;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.az-selling-point img {
		width: 300px;
	}
}

.az-graph {
	background-color: #eee;
}
.az-graph img {
	background-color: white;
}
.az-sp-title {
	background-color: dodgerblue;
	margin: 15px;
	margin-bottom: 0px;
	color: white;
}
.az-sp-title h3 {
	margin-top: 12px;
	margin-bottom: 12px;
}

/* =====================================
   Main Case Studies
   ===================================== */
.az-cs {
	margin: 0px;
	overflow: hidden;
	display: flex;
	flex-flow: row wrap;
}
.az-cs-top {
	min-height: 700px;
	border: 1px solid #eee;
}
.az-cs-top.az-towers {
	border-right: 0px;
}
.az-cs-top.az-milliman {
	border-left: 0px;
}
.az-cs-logo {
	position: absolute;
	top: 24px;
	left: 24px;
}
.az-cs .container {
	margin-top: 24px;
	margin-bottom: 24px;
}
.az-cs-banner {
	position: relative;
}
.az-cs-banner-image {
	width: 100%;
}
.az-cs-video-link {
	width: 150px;
	height: auto;
	display: inline-block;
	margin-right: 20px;
}
.az-cs-label {
	display: inline-block;
	color: dodgerblue;
	text-transform: uppercase;
	font-weight: 600;
}
.az-cs-label.az-carousel-next {
	border-bottom: 2px solid dodgerblue;
}
.az-cs-label a:hover {
	text-decoration: none;
}

#carousel {
	width: 100%;
	overflow: hidden;
}


/* =====================================
   Partners and Ecosystem
   ===================================== */
.az-partner-logos {
	display: flex;
	flex-wrap: wrap;
}
.az-partner-logo {
}
.az-partner-logo img {
	width: 100%;
	height: 100%;
}

/* =====================================
   Getting Started 
   ===================================== */
.az-getting-started {
	background-color: white;
}
.az-getting-started-tab-wrapper {
	background-color: white;
}
.az-getting-started-tab-wrapper:hover {
	text-decoration: none !important;
}
.az-getting-started-tab {
	background-color: #ddd;
	color: #333;
	position: relative;
	height: 260px;
	display: block;
	margin-bottom: 30px;
}
.az-getting-started-tab-wrapper:hover .az-getting-started-tab {
	background-color: #eee;
}
.az-getting-started-header {
	width: 100%;
	height: 40%;
	background-color: dodgerblue;
	padding: 20px;
}
.az-getting-started-header > h4 {
	color: white !important;
}
.az-getting-started-tab-wrapper:hover .az-getting-started-header {
	background-color: #399eff;
}
.az-getting-started-tab:hover .az-getting-started-header {
	text-decoration: none;
}
.az-getting-started-description {
	font-size: 14px;
	padding: 20px;
}
@media (max-width: 960px) {
	.az-getting-started-header {
		padding: 18px;
	}
	.az-getting-started-description {
		font-size: 12px;
		padding: 18px;
	}
}

/* =====================================
   More links
   ===================================== */
.az-more-links-wrapper {
	background-color: #eeeeee;
}
.az-more-links {
	display: inherit;
}
.az-more-links div {
	margin-bottom: 12px;
}
.az-more-links a{
	text-decoration: underline;
}

/* =====================================
   Back to top
   ===================================== */
.az-contact,
.az-download-package,
.az-back-to-top {
	background-color:dodgerblue;
	color: white;
	text-align: center;
	width: 100%;
	display: block;
}

/* =====================================
   Package download
   ===================================== */
.az-download-package a {
	color: white;
	text-transform: uppercase;
	font-weight: 600;
}
.az-download-package a:hover {
	text-decoration: underline;
}
.az-package-text-wrapper {
	position: relative;
}
.az-package-text {
	position: absolute;
	text-align: left;
	top: 50%;
	transform: translateY(-50%);
}
.az-package-img {
	box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
}
.az-package-download {
	background-color: white;
	color: dodgerblue;
	padding: 10px 20px;
	display: inline-block;
}
.az-contact a {
	color: white;
	font-weight: 600;
}