body {
 	padding: 0;
	margin: 0;
	font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;
	font-size: 14px; 
}

h1 {
	font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;
	font-size: 64px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 70px;
}
h2 {
	font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;
	font-size: 32px;
	font-style: normal;
	font-variant: normal;
	font-weight: 300;
	line-height: 36px;
}
h3 {
	font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 28px;
}
h4 {
	font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;
	font-size: 22px;
	font-style: normal;
	font-variant: normal;
	font-weight: 300;
	line-height: 26px;
	margin: 0px;
}
@media (max-width: 768px) {
	body {
		font-size: 16px;
	}
	h1 {
		font-size: 50px;
		line-height: 50px;
	}
	h2 {
		font-size: 24px;
		line-height: 26px;
	}
	h3 {
		font-size: 24px;
		line-height: 28px;
	}
	h4 {
		font-size: 18px;
		line-height: 22px;
	}
}
@media (min-width: 768px) and (max-width: 992px) {
	body {
		font-size: 16px;
	}
	h1 {
		font-size: 50px;
		line-height: 50px;
	}
	h2 {
		font-size: 24px;
		line-height: 26px;
	}
	h3 {
		font-size: 24px;
		line-height: 28px;
	}
	h4 {
		font-size: 18px;
		line-height: 22px;
	}
}
@media (min-width: 992px) and (max-width: 1200px) {
	body {
		font-size: 16px;
	}
	h1 {
		font-size: 50px;
		line-height: 50px;
	}
	h2 {
		font-size: 24px;
		line-height: 26px;
	}
	h3 {
		font-size: 24px;
		line-height: 28px;
	}
	h4 {
		font-size: 18px;
		line-height: 22px;
	}
}
@media (min-width: 1200px) {
	body {
		font-size: 16px;
	}
	h1 {
		font-size: 64px;
		line-height: 70px;
	}
	h2 {
		font-size: 32px;
		line-height: 36px;
	}
	h3 {
		font-size: 24px;
		line-height: 30px;
	}
	h4 {
		font-size: 22px;
		line-height: 28px;
	}
	.az-nav-logo {
		font-size: 1.5em;
	}
	.az-nav-right {
		font-size: 16px;
	}
}

strong {
	font-weight: 600;
	font-size: 1.0em;
}
a {
	text-decoration: none;
}
em {
	color: #00abec
}
.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}
.width-constraint {
	min-width: 800px;
}
.right {
	text-align: right;
}
.center {
	text-align: center;
}

/* =====================================
   Nav
   ===================================== */
.az-nav {
	position: fixed;
	background-color: black;
	color: white;
	width: 100%;
	z-index: 100;
	line-height: 60px;
	min-width: 911px;
}
.az-nav-logo {
	color: #00abec;
	font-size: 1.3em;
	float: left;
	margin-left: 24px;
}
.az-nav-right {
	margin-right: 24px;
	float: right;
}
.az-nav-link {
	display: inline-block;
	margin-left: 30px;
	cursor: pointer;
}

/* =====================================
   Banner
   ===================================== */
.az-banner {
	position: relative;
	height: 100vh;
}
.az-banner img {
	width: 100%;
	height: 100%;
}
.az-banner-text {
	color: white;
	position: absolute;
	transform: translateY(-50%) translateX(-50%);
	top: 50%;
	left: 50%;
	text-align: center;
	width: 80%;
	max-width: 800px;
	min-width: 400px;
}
.az-banner-start {
	background-color: #89c402;
	box-shadow: 3px 3px 5px rgba(0,0,0,0.4);
	margin: 0 auto;
	width: 15vw;
	min-width:180px;
	padding: 10px;
	color: white;
	margin-top: 24px;
}
.az-banner-nav {
	position: absolute;
	color: white;
	text-align: center;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
}
.az-banner-scroll-down {
	margin-bottom: 12px;
}

/* =====================================
   Announcement
   ===================================== */
.az-announcement {
	background-color:#00abec;
	height: 5vw;
	line-height: 5vw;
	color: white;
	text-align: center;
	min-height: 60px;
	display: table;
	width: 100%;
}
.az-announcement > div {
	display: table-cell;
	vertical-align: middle;
}

/* =====================================
   Why Azure
   ===================================== */
.az-selling-point {
	border: 1px solid #aaa;
	padding: 36px;
	font-size: 1.0em;
}
.az-selling-point-description {
	text-align: left;
	margin: 20px auto;
	padding-left: 24px;
	padding-right: 24px;
}

/* =====================================
   Case study
   ===================================== */
.az-case-study-wrapper {
	background-color: white;
}
.az-case-study-seperator hr {
	background-color: #aaa;
	height: 1px;
	border: 0px;
}
.az-case-study-mini {
	position: relative;
	padding: 15px;
	margin: 15px;
}
.az-case-study-mini-container {
	position: relative;
}
.az-case-study-mini-bg {
	width: 100%;
}
.az-case-study-mini-logo {
	position: absolute;
	top: 18px;
	left: 18px;
	width: 150px;
}
.az-case-study-mini-text {
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	padding: 18px 18px 24px 18px;
	color: white;
}
.az-case-study-mini-overlay {
	background-color: rgba(0,0,0,0.5);
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
}
.az-case-study-mini-text h3 {
	margin-top: 0px;
}
.az-case-study-mini-container:hover {
	cursor: pointer;
}

/* =====================================
   Partners and Ecosystem
   ===================================== */
.az-partner-logos {
	display: flex;
	flex-wrap: wrap;
}
.az-partner-logo {
}
.az-partner-logo img {
	width: 100%;
	height: 100%;
}

/* =====================================
   Applications
   ===================================== */
.az-applications.table, 
.az-applications tr, 
.az-applications td, 
.az-applications th {
	border: 1px solid #ccc;
}
td {
	padding: 12px;
}

.az-applications {
	width: 100%;
}

/* =====================================
   Getting Started 
   ===================================== */
.az-getting-started {
	background-color: white;
}
.az-getting-started-tab-wrapper {
	background-color: white;
}
.az-getting-started-tab-wrapper:hover {
	text-decoration: none !important;
}
.az-getting-started-tab {
	background-color: #ddd;
	color: #333;
	position: relative;
	height: 260px;
	display: block;
	margin-bottom: 30px;
}
.az-getting-started-tab-wrapper:hover .az-getting-started-tab {
	background-color: #eee;
}
.az-getting-started-header {
	width: 100%;
	height: 40%;
	background-color: dodgerblue;
	padding: 20px;
}
.az-getting-started-header > h4 {
	color: white !important;
}
.az-getting-started-tab-wrapper:hover .az-getting-started-header {
	background-color: #399eff;
}
.az-getting-started-tab:hover .az-getting-started-header {
	text-decoration: none;
}
.az-getting-started-description {
	font-size: 14px;
	padding: 20px;
}
@media (max-width: 960px) {
	.az-getting-started-header {
		padding: 18px;
	}
	.az-getting-started-description {
		font-size: 12px;
		padding: 18px;
	}
}

/* =====================================
   More links
   ===================================== */
.az-more-links-wrapper {
	background-color: #eeeeee;
}
.az-more-links {
	display: inherit;
}
.az-more-links div {
	margin-bottom: 12px;
}
.az-more-links a{
	text-decoration: underline;
}

/* =====================================
   Pricing
   ===================================== */
.az-pricing-table {
	width: 100%;
	margin: 24px auto;
}
.az-pricing-table,
.az-pricing-table tr,
.az-pricing-table td {
	border-bottom: 1px solid #ccc;
}
.az-pricing-table-headers {
	font-weight: 600;
	border-top: 1px solid #ccc;
}
.az-pricing-core {
	background-color: #89c402;
	color: white;
	padding: 6px 12px;
	width: 60px;
	font-weight: 600;
	text-align: center;
}
.az-pricing-more {
	float: right;
	background-color: #89c402;
	color: white;
	padding: 10px 20px;
	font-weight: 600;
	text-align: center;
}
.az-pricing-note {
	color: #aaa
}

/* =====================================
   Back to top
   ===================================== */
.az-back-to-top {
	background-color:dodgerblue;
	color: white;
	text-align: center;
	width: 100%;
	display: block;
}
