body {
 	padding: 0;
	margin: 0;
	font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;
	font-size: 16px; 
}

h1 {
	font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;
	font-size: 4.2vw;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 4vw;
}
h2 {
	font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;
	font-size: 32px;
	font-style: normal;
	font-variant: normal;
	font-weight: 300;
	line-height: 36px;
}
h3 {
	font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;
	font-size: 28px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 28px;
}
@media (max-width: 960px) {
	body {
		font-size: 14px;
	}
	h1 {
		font-size: 50px;
		line-height: 50px;
	}
	h2 {
		font-size: 24px;
		line-height: 26px;
	}
	h3 {
		font-size: 24px;
	}
}
@media (min-width: 1200px) { 
	body {
		font-size: 16px;
	} 

}
strong {
	font-weight: 600;
}
a {
	text-decoration: none;
}
em {
	color: #00abec
}
.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  margin: 0px;
}
.width-constraint {
	min-width: 960px;
}
.max-width {
	width: 100%;
}
.right {
	text-align: right;
}
.center {
	text-align: center;
}
.left {
	text-align: left;
}

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}
.col-xs-5ths {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}

/* General */

.az-nav {
	position: absolute;
	height: 60px;
	background-color: black;
	color: white;
	width: 100%;
	z-index: 100;
	line-height: 60px;
	min-width: 800px;
}
.az-nav-logo {
	color: #00abec;
	font-size: 1.5em;
	float: left;
}
.az-nav-right {
	float: right;
}
.az-nav-link {
	display: inline-block;
	margin-left: 30px;
	cursor: pointer;
}

.az-banner {
	position: relative;
}
.az-banner img {
	width: 100%;
	height: 100%;
}
.az-banner-text {
	color: white;
	position: absolute;
	transform: translateY(-50%) translateX(-50%);
	top: 50%;
	left: 50%;
	text-align: center;
	width: 80%;
	max-width: 960px;
	min-width: 400px;
}
.az-banner-start {
	background-color: #89c402;
	box-shadow: 3px 3px 5px rgba(0,0,0,0.4);
	margin: 0 auto;
	width: 15vw;
	min-width:180px;
	padding: 10px;
	color: white;
	margin-top: 24px;
}

/* =====================================
   Announcment
   ===================================== */
.az-announcement {
	background-color:dodgerblue;
	color: white;
	text-align: center;
	width: 100%;
}

/* =====================================
   Diagram
   ===================================== */
.az-diagram {
	position: relative;
	background-color: dodgerblue;
}
.az-diagram h2 {
	color: white;
}
.az-diagram img {
	border:4px solid white;
}
.az-diagram-label {
	padding: 12px;
	text-align: center;
	background-color: white;
	border-left: 2px solid dodgerblue;
	position: relative;
	border-top: 4px solid dodgerblue;
	border-right: 2px solid dodgerblue;
	color: #555;
}
.az-diagram-number {
	background-color: #89c402;
	position: absolute;
	width: 24px;
	height: 24px;
	line-height: 24px;
	color: white;
	font-weight: 500;
	font-size: 1.0em;
	left: 10px;
	top: 10px;
	border-top-right-radius: 50px;
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
}
.az-diagram-text {
	font-size: 0.75em;
	text-align: left;
	margin-left: 16%;
}
.az-diagram-description-row {
	margin-right: -2px;
	margin-left: -2px;
}
.az-diagram-link {
	width: 100%;
	background-color: dodgerblue;
	margin-top: 4px;
	color: white;
	padding: 4px;
}
.az-diagram-link a {
	color: white;
	text-decoration: underline;
}

/* =====================================
   IaaS Selling Points
   ===================================== */
.az-selling-points > h2 {
	text-align: left;
}
.az-selling-point >h3 {
	text-align: center;
}
.az-selling-point {
	padding: 36px;
	font-size: 1.0em;
}
.az-selling-point-description {
	text-align: left;
	margin: 20px auto;
}
.az-selling-point-image-wrapper {
	border-radius: 80px;
	width: 160px;
	height: 160px;
	border: 4px solid #222277;
	margin: 0 auto;
}
.az-selling-point-image-wrapper img {
	width: 100px;
	height: 100px;
	margin-left: 25px;
	margin-top: 25px;
}

/* =====================================
   Grid
   ===================================== */

.az-grid {
	background-color: #eee;
}   
.az-grid-content.lhs {
	margin-left: 60px
}
.az-grid-content.rhs {
	margin-right: 60px
}
.az-grid-content {
	background-color: white;
	margin: 0 16px;
	padding: 24px;
	height: 100%;
	text-align: center;
}
@media (max-width: 1200px) {
	.az-grid-content.lhs {
		margin-left: 20px
	}
	.az-grid-content.rhs {
		margin-right: 20px
	}
	.az-grid-image {
		width: 100% !important;
	}
}
.az-grid-description {
	padding-left: 24px;
	padding-right: 24px;
	padding-bottom: 24px;
}
.az-clustering {
	background-color: #333;
	color: white;
}
/* =====================================
   Security
   ===================================== */
 
.az-security {
 	background-color: dodgerblue;
	color: white;
}  
.az-security-title {
	font-size: 30px;
	line-height: 34px;
}
.az-security-title2 {
	font-size: 22px;
	line-height: 24px;
}
@media (min-width: 1200px) {
	.az-security-title {
		font-size: 36px;
		line-height: 40px;
	}
} 
.az-security-icon-wrapper {
	border: 3px solid dodgerblue;
	background-color: white;
	width: 80px;
	height: 80px;
	line-height: 60px;
	text-align: center;
}
.az-security-text-title {
	font-size: 22px;
	line-height: 22px;
	margin-top: 12px;
	margin-bottom: 12px;
}
.az-security-text-body {
	font-size: 15px;
}
.az-security-text-body a {
	color: white;
	text-decoration: underline;
}
.az-security-center {
	color: white;
	background-color: #222277;
	text-align: center;
}

/* =====================================
   Trust
   ===================================== */
.az-trust {
	background-color: dodgerblue;
	color: white;
}
.az-trust .container {
	position: relative;
}
.az-trust img {
	margin-left: 5%;
}
.az-trust-text {
	transform: translateY(-50%);
	top: 50%;
	position: absolute;
	right: 0px;
	width: 60%;
	margin-right: 5%;
	font-size: 30px;
	line-height: 34px;
}
.az-trust-subtext {
	font-size: 18px;
}
@media (min-width: 1200px) {
	.az-trust-text{
		font-size: 36px;
		line-height: 40px;
	}
} 
.az-trust-text a {
	color: white;
	text-decoration: underline;
}
.az-compliance-program {
	color: white;
	background-color: #222277;
	text-align: center;
}

/* =====================================
	Azure Stack
   ===================================== */
.az-stack {
	background-color: dodgerblue;
	color: white;
	background-image: url("../images/azure-stack.png");
	background-repeat: no-repeat;
	background-position: bottom;
	min-height: 420px;
}
.az-stack .container {
	position: relative;
	height: 400px;
	padding-left: 15px;
	padding-right: 15px;
}
.az-stack img {
	margin-left: 5%;
}
.az-stack-title {
	font-size: 32px;
	line-height: 36px;
}
.az-stack-text {
	transform: translateY(-50%);
	top: 50%;
	position: absolute;
	left: 15px;
	width: 60%;
	margin-right: 5%;
	font-size: 18px;
}
@media (min-width: 1200px) {
	.az-stack-title {
		font-size: 40px;
		line-height: 44px;
	}
	.az-stack-text{
		font-size: 20px;
		line-height: 24px;
	}
} 
.az-stack-text a {
	color: white;
	text-decoration: underline;
}
.az-stack-button {
	padding: 10px 20px;
	background-color: white;
	color: dodgerblue;
	display: inline-block;
}

.az-case-study-wrapper {
	background-color: white;
}
.az-case-study-seperator hr {
	background-color: #aaa;
	height: 1px;
	border: 0px;
}


/* =====================================
	Partners & Ecosystem 
   ===================================== */
.az-partner-logos {
	display: flex;
	flex-wrap: wrap;
}
.az-partner-logo img {
	width: 100%;
	height: 100%;
}


/* =====================================
   Compliance and Regulation 
   ===================================== */
.az-compliance-logos {
	display: flex;
	flex-wrap: wrap;
}
.az-compliance-logo img {
	width: 100%;
	height: 100%;
}
.az-compliance-text {
	text-align: center;
	font-size: 11px;
}


/* =====================================
   Services 
   ===================================== */
.az-services {
	background-color: #efefef;
}
.az-services a {
	display: block;
}
.az-service {
	/*box-shadow: 2px 2px 5px #ddd;*/
	border: 1px solid #ccc;
	text-align: center;
	padding: 20px;
	margin: 10px;
	color: #555;
	text-decoration: none !important;
}
.az-service:hover {
	background-color: white;
}
.az-service-name {
	margin-bottom: 20px;
	font-size: 20px;
}
.az-service-image {
	width: 90px;
	height: 90px;
	border-radius: 60px;
	border:3px solid #006DD6;
	line-height: 84px;
	margin: 0 auto;
	margin-bottom: 20px;
}
.az-service-description {
	text-align: left;
	font-size: 14px;
}

/* =====================================
   Getting Started 
   ===================================== */
.az-getting-started {
	background-color: #333;
	color: White;
}
.az-getting-started-tab-wrapper {
	background-color: #333;
}
.az-getting-started-tab {
	background-color: white;
	color: #555;
	position: relative;
	height: 240px;
	display: block;
	margin-bottom: 30px;
}
.az-getting-started-header {
	font-size: 18px;
	width: 100%;
	height: 50%;
	background-color: dodgerblue;
	color: white;
	padding: 20px;
}
.az-getting-started-tab:hover .az-getting-started-header {
	text-decoration: none;
}
.az-getting-started-description {
	font-size: 12px;
	padding: 20px;
}

/* =====================================
   Back to top
   ===================================== */
.az-back-to-top {
	background-color:dodgerblue;
	color: white;
	text-align: center;
	width: 100%;
	display: block;
}

/*
.az-applications {
	width: 100%;
}
.az-more-links-wrapper {
	background-color: #eeeeee;
}
.az-more-links {
	display: inherit;
}
.az-more-links div {
	margin-bottom: 12px;
}
.az-more-links a{
	text-decoration: underline;
}
.az-pricing-table {
	width: 100%;
	margin: 24px auto;
}
.az-pricing-table,
.az-pricing-table tr,
.az-pricing-table td {
	border-bottom: 1px solid #ccc;
}
.az-pricing-table-headers {
	font-weight: 600;
	border-top: 1px solid #ccc;
}
.az-pricing-core {
	background-color: #89c402;
	color: white;
	padding: 6px 12px;
	width: 60px;
	font-weight: 600;
	text-align: center;
}
.az-pricing-more {
	float: right;
	background-color: #89c402;
	color: white;
	padding: 10px 20px;
	font-weight: 600;
	text-align: center;
}
.az-pricing-note {
	color: #aaa
}
*/